header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:

    "header header"
    "aside  content"
    "footer footer";

  min-height: 100vh;
  margin: 2vw;
  border: 2vw;
}

main .Galeria {
  border: 1px solid aquamarine;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

main .Galeria>div {
  border: 1px solid #000;
  height: 106px;
}

main .Galeria>div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .Galeria .featured{
  grid-row: span 2;
  grid-column: span 2;
  height: auto;
}


@media screen and (max-width: 500px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr 100px;
    grid-template-areas:
      "header"
      "aside"
      "content"
      "footer";
  }
}
